.container-pagination {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
ul > li {
  display: flex;
  justify-content: center;
}
.arrow-image-left {
  width: 30px;
  height: 30px;
}

.arrow-image-right {
  width: 30px;
  height: 30px;
}

button:hover {
  background: #f0f0f0;
}
